<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="Telerik.Skin" value="Sitefinity"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--JD-->
    <!--<add name="ConferencePlusConnectionString"
             connectionString="Server=JDDEV\JDSQL;Database=KarzPlus;User Id=KarzPlus;Password=Conf$++;"
             providerName="System.Data.SqlClient" />
    <add name="MembershipConnectionString"
         connectionString="Server=JDDEV\JDSQL;Database=KarzPlus;User Id=KarzPlus;Password=Conf$++;"
         providerName="System.Data.SqlClient" />-->
    
    <!--JO-->
    <add name="ConferencePlusConnectionString" connectionString="Server=(Local);Database=ConferencePlus;User Id=ConferencePlus;Password=Conf$++;" providerName="System.Data.SqlClient"/>
    <add name="MembershipConnectionString" connectionString="Server=(Local);Database=ConferencePlus;User Id=ConferencePlus;Password=Conf$++;" providerName="System.Data.SqlClient"/>
    
    <!--KE-->
    <!--<add name="ConferencePlusConnectionString"
         connectionString="Server=KENNETH-PC\MSSQL2012;Database=KarzPlus;User Id=KarzPlus;Password=Conf$++;"
         providerName="System.Data.SqlClient" />
    <add name="MembershipConnectionString"
         connectionString="Server=KENNETH-PC\MSSQL2012;Database=KarzPlus;User Id=KarzPlus;Password=Conf$++;"
         providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="30" name="ConferencePlus" path="/ConferencePlus" requireSSL="false" slidingExpiration="true" defaultUrl="Default.aspx" cookieless="UseCookies" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <siteMap enabled="true">
      <providers>
        <clear/>
        <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <membership defaultProvider="ConferencePlusAspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="ConferencePlusAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipConnectionString" enablePasswordRetrieval="false" applicationName="/ConferencePlus" requiresQuestionAndAnswer="false" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="KarzPlusAuthorizationStoreRoleProvider">
      <providers>
        <clear/>
        <add name="KarzPlusAuthorizationStoreRoleProvider" connectionStringName="MembershipConnectionString" applicationName="/KarzPlus" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState timeout="480"/>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule"/>
      <remove name="RadUploadModule"/>
      <remove name="RadCompression"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>